@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #161626;
}

.bubble-container {
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    opacity: 0.4;
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: bubble_animate 15s linear infinite;
    animation-duration: calc(200s / var(--bubble_speed));
}

.bubbles span:nth-child(even) {
    background: #ee9ca7;
    box-shadow: 0 0 0 10px #ee9ca744,
        0 0 50px #ee9ca7,
        0 0 100px #ee9ca7;
}

@keyframes bubble_animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}