:root {
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
}

.mr-1 {
    margin-right: var(--space-1)
}

.mr-2 {
    margin-right: var(--space-2)
}

.mr-3 {
    margin-right: var(--space-3)
}

.ml-1 {
    margin-left: var(--space-1)
}

.mt-2 {
    margin-top: var(--space-2)
}

.mb-2 {
    margin-bottom: var(--space-2)
}